@use "./colors.scss" as *;
.feed {
  .addPost {
    padding: 15px 20px;
    border-bottom: 0.8px solid rgba($color: #fff, $alpha: 0.2);
    h3 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 15px;
    }
    form {
      display: flex;
      gap: 10px;
      > img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      .inputs {
        flex: 1;
        textarea {
          background-color: transparent;
          border: none;
          font-family: inherit;
          padding-top: 10px;
          font-size: 18px;
          caret-color: #fff;
          color: #fff;
          font-weight: 500;
          text-overflow: wrap;
          word-wrap: break-word;
          word-break: break-all;

          width: 100%;
          &:focus {
            border-bottom: 0.8px solid rgba($color: #fff, $alpha: 0.2);
            padding-bottom: 10px;
            outline: 0;
            resize: none;
          }
          &::placeholder {
            color: #bebebe;
          }
        }
        .image {
          position: relative;
          button.remove {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $blue;
            color: #fff;
            font-size: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50;
            border: 0;
          }
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 6px;
          }
        }
        .inprow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 10px;
          label {
            cursor: pointer;
            color: $blue;
          }
          input {
            display: none;
          }
          .radioCont {
            display: flex;
            gap: 10px;
            span {
              font-size: 12px;
              border: 1px solid $blue;
              padding: 4px 8px;
              border-radius: 20px;
            }
            input:checked + span {
              background-color: $blue;
              color: #fff;
              font-weight: 500;
            }
          }
          > button {
            background-color: $blue;
            border: 0;
            color: #fff;
            padding: 10px 20px;
            border-radius: 50px;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .feed {
    width: calc(100% - 226.16px);
  }
}
@media (max-width: 767px) {
  .feed {
    margin-top: 20px;
    width: calc(100%);
    margin-left: 0;
    border-top: 0.8px solid rgba($color: #fff, $alpha: 0.2);
    border-left: 0.8px solid rgba($color: #fff, $alpha: 0.2);
  }
}
@media (max-width: 576px) {
  .feed {
    .addPost {
      padding: 10px 15px;
      form {
        .inputs {
          .inprow {
            gap: 20px 10px;
            justify-content: flex-end;
            > label {
              align-self: center;
            }
            .radioCont {
              gap: 5px;
            }
            button {
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}
